.t{
    width: 100vw; /* vw <-- viewport widht, it is written in percentages*/
    height: 100vh; /* vh */
    background-image: url('../images/collage.png');
    background-repeat: no-repeat;
    background-size: cover; /* stretch the image to the size of the div */
}

.bu {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 170px;
    height: 35px;
    background-color: #E19619;
    border: solid #F3D7CD 3px;
    border-radius: 10px;
    font-size: 20px;
    color: #174244;
  }

.sp{  /* gray line */
    height: 100px;
    background-color: #d4cfcb;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.i{   /* name and image <-> info     mudarrrr*/
    height: 76.7%;
    background-image: url('../images/opacityimage.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.so{ /* card */
    border-radius: 8px;
    border: 3px solid #203435;
    background-color: #385A5C;
    height: 85%;
    width: 94%;
    display: flex;
    justify-content: space-between;
}

.in{  /* image container*/
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* image */
.ima{
    height: 80%;
    width: 80%;
    border: 2px solid #203435bb;
    border-radius: 8px;
}

.inf{
    /* border: 1px solid black; */
    width: 50%;
    height: 87%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


 