.t {
    width: 100vw;
    height: 100vh;
    background-color: #cfe3e3;
}

.bu {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 170px;
    height: 35px;
    background-color: #EB9959;
    border: solid #385A5C 3px;
    border-radius: 10px;
    font-size: 20px;
    color: #174244;
}

.buEs {
    height: 60px;
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.sp {
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;

}

.i {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.so {
    /* card */
    border-radius: 8px;
    border: 3px solid #203435;
    background-color: #385A5C;
    height: 85%;
    width: 94%;
    display: flex;
    justify-content: space-between;
}

.in {
    /* image container*/
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image */
.ima {
    height: 80%;
    width: 80%;
    border: 2px solid #203435bb;
    border-radius: 8px;
}

.inf {

    width: 50%;
    height: 87%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}