.t{
    background-image: url('../images/opacityimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 153vh;
}

.in{
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 5px solid black;
    margin-left: 27%;
    background-color: #385a5c9c;
}

.bu {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 170px;
    height: 35px;
    background-color: #E19619;
    border: solid #F3D7CD 3px;
    border-radius: 10px;
    font-size: 20px;
    color: #174244;
  }

  .t h3{
      font-size: 22px;
  }

  .t p{
      color: rgb(145, 22, 22);
      font-size: 18px;
      font-weight: 500;
  }

  .it{
      margin-left: 20px;
  }

  .t label{
    font-size: 18px;
}
