.t {
    background-color: #cfe3e3;
}

.in {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 5px solid black;
    margin-left: 27%;
    background-color: #385a5c9c;
}

.bu {
    margin-left: 15px;
    margin-top: 13px;
    width: 170px;
    height: 35px;
    background-color: #EB9959;
    border: solid #385A5C 3px;
    border-radius: 10px;
    font-size: 20px;
    color: #174244;
}

.t h3 {
    font-size: 22px;
}

.t p {
    color: rgb(145, 22, 22);
    font-size: 18px;
    font-weight: 500;
}

.it {
    margin-left: 20px;

}

.sa {
    height: 50px;
}

.t label {
    font-size: 18px;
}

.smallImg {
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.pict {
    display: flex;

}

.lens {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin: 3%;
}

.submitBu {
    background-color: #EB9959;
    height: 35px;
    width: 80px;
    margin: 15px;
}

.sub {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}