.all {
  background-color: #cfe3e3;
  height: 100vh;
}

.bu {
  margin-top: 13px;
  margin-left: 15px;
  width: 170px;
  height: 35px;
  background-color: #EB9959;
  border: solid #385A5C 3px;
  border-radius: 10px;
  font-size: 20px;
  color: #174244;
}

.tittle {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle2 {
  color: rgb(165, 54, 54);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.bu2 {
  margin-top: 13px;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 110px;
  height: 30px;
  background-color: rgb(207, 103, 103);
  border: solid #385A5C 3px;
  border-radius: 7px;
  font-size: 15px;
  color: #123436;
  font-weight: bold;
}

.image {
  height: 105px;
  width: 160px;
  margin: 30px;
}

.smallCard {
  border: 2px solid #385A5C;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  justify-content: space-between;

}

.info {
  margin: 15px;
}

.nameAndBt {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.breedName {
  margin-left: 15px;
}