.t {
    background-color: #385a5c43;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-bottom: 25px;
    
    
}

.l {
    font-size: small;
    color:cadetblue;
}

.p{
    background-image: url('../images/opacityimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}