
.t {
  width: 100vw; /* vw <-- viewport widht, it is written in percentages*/
  height: 100vh; /* vh */
  background-image: url('../images/collage.png');
  background-repeat: no-repeat;
  background-size: cover; /* stretch the image to the size of the div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bu {
  width: 300px;
  height: 140px;
  background-color: #E19619;
  border: solid #F2D7CC 12px;
  border-radius: 20px;
  font-size: 40px;
  color: #174244;
}

