
.t {
  width: 100vw; /* vw <-- viewport widht, it is written in percentages*/
  height: 100vh; /* vh */
  background-image: url('../images/collage.png');
  background-repeat: no-repeat;
  background-size: cover; /* stretch the image to the size of the div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bu {
  width: 300px;
  height: 140px;
  background-color: #EB9959;
  border: solid #F2D7CC 12px;
  border-radius: 20px;
  font-size: 40px;
  color: #174244;
}

.bu:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(50, 50, 50, 1);
  transition: all 0.25s;
}

